.action-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    padding: 16px;

    border: 4px solid black;
    background: white;
}

.action-menu button {
    padding: 12px;

    font-size: 18px;

    cursor: pointer;
}