body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f3f4f6;
}

.game {
    width: 900px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
}